@page
@model Chapter_Find_Online_Bookstore.Pages.AddShippingModel
@{
    ViewData["Title"] = "Add Shipping";
    Layout = "_Layout1";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Add New Shipping Cost Location
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="Admin"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Add Shipping</li>
    </ol>
</section>
<br />


<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">

                <div class="box-body">
                    <form method="post">
                        <!-- Category Name -->
                        <div class="form-group">
                            <label for="CityName">City Name</label>
                            <input type="text" id="CityName" class="form-control" placeholder="Enter City name" asp-for="@Model.CityName" required />
                        </div>

                        <div class="form-group">
                            <label for="Cost">Cost</label>
                            <input type="number" step="any" id="Cost" class="form-control" placeholder="Enter Cost" asp-for="@Model.Cost" required />
                        </div>

                        
                        

                        <!-- Submit Button -->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Add Location</button>
                        </div>
                    </form>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->